<!DOCTYPE html>
<html>
<head>
  <title>Class App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    {{{ body }}}
  </div>
</body>
</html>
