{{msg}}
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Welcome to Classroom Portal</h1>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Registration</h1>
    <p>
      You must register to be included in the system.
    </p>
    <a type="submit" class="btn btn-default" href="/teacher-registration">Register as a Teacher</a>
    <a type="submit" class="btn btn-default" href="/student-registration">Register as a Student</a>
  </div>
  <div class="col-md-6">
    <h1>Login</h1>
    <p>
      Login to access your information.
    </p>
    <a type="submit" class="btn btn-default" href="/teacher-login">Teacher Login</a>
    <a type="submit" class="btn btn-default" href="/student-login">Student Login</a>
  </div>
</div>
